@model PasteBookEntity.USER

@{
    var user = Model.USER_NAME;
}
@Html.Hidden("currentProfile", Model.ID, new { id = "currentProfile" })
@Html.Hidden("user", (int)Session["currentUser"], new { id="userID" })

<div class="col-sm-4">
    <div class="container-fluid">
        <div id="imageProfileContainer">
            <img src="~/Content/samplePicture/facebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
        </div>
    </div>
    <div id="infoContainer">
        <div class="well">
            <div class="container-fluid">
                <h4>Profile Information</h4>
                <input type="hidden" name="username" id="userName" value="@Model.ID" />
                <p>Email: @Model.EMAIL_ADDRESS</p>
                <p>Birthday: @Html.DisplayFor(x => x.BIRTHDAY)</p>
                <p>Country: @Model.COUNTRY_ID</p>
                <p>Mobile: @Model.MOBILE_NO</p>
                <p>About me: @Model.ABOUT_ME</p>
            </div>
        </div>
    </div>

</div>
<div class="col-sm-8">
    
   

    <div class="container-fluid">
        <div class="row">
            <div id="headerContainer">
                <div class="well">

                    <div class="container-fluid">
                        <p id="profileName">@Model.FIRST_NAME @Model.LAST_NAME</p>
                        @Html.ActionLink("Fiends", "Friends", "Friend", new { id = "userFriend" })
                        <button type="button" id="addAsFriend" class="btn btn-default pull-right friendbutton">Add as friend</button>
                        <button type="button" id="requestAdd" class="btn btn-default pull-right friendbutton" disabled>Friend request sent</button>
                        <span class="btn pull-right" id="friendsTrue">Friends <span class="glyphicon glyphicon-ok"></span></span>
                        <div class="dropdown pull-right">
                            <button class="btn dropdown-toggle" type="button" id="dropdownRequest" data-toggle="dropdown">Confirm friend request</button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="confirmRequest">
                                <li role="presentation"><a id="confirmRequest">Confirm</a></li>
                                <li role="presentation"><a id="deleteRequest">Delete Request</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="container-fluid">
                <div class="well">
                    <div class="container-fluid">
                        <p class="text-danger" id="errorPost">Please add something to your post.</p>
                        <textarea class="form-control" id="postContent" rows="3" placeholder="What's on your mind?"></textarea>
                        <hr />
                        <input type="button" id="postBtnHome" value="Post" class="btn btn-primary pull-right" />
                        <input type="button" id="postBtnProfile" value="Post" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
                
            <div id="postContainer">
                @{Html.RenderAction("GetPostOnProfile", "Profile", new { username = user });}
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var addPostUrl = '@Url.Action("AddPost", "Post")';
        var getPostUrl = '@Url.Action("GetPostOnProfile", "Profile", new { username = user })';
        var addCommentUrl = '@Url.Action("CommentPost", "Post")';

        var checkFriendRequestUrl = '@Url.Action("CheckFriendRequest", "Friend", new { currentProfileID = Model.ID })';
        var addAsFriendUrl = '@Url.Action("AddAsFriend", "Friend", new { currentProfileID = Model.ID })';
        var confirmRequestUrl = '@Url.Action("ConfirmRequest", "Friend", new { currentProfileID = Model.ID })';
        var profileHeaderContainerUrl = '@Url.Action("ReloadProfileHeader", "Profile", new { username = user })'
    </script>
    <script src="~/Scripts/PasteBookJS/Profile.js"></script>
}
