@model PasteBookEntity.USER
<div class="col-sm-2">
    <div class="container">

        @{if (Model.PROFILE_PIC == null)
            {
                <div id="imageContainer">
                    <img src="~/Content/samplePicture/pastebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
                </div>
            }
            else
            {
                //source: http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model
                var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <div id="imageContainer">
                    <img src="@imgSrc" class="img-responsive" id="homeProfilePic" />
                </div>
            }
        }



        <div class="container-fluid">
            <div id="nameContainer">
                @Html.ActionLink(Model.FIRST_NAME + " " + Model.LAST_NAME, "UserProfile", "Profile", new { username = Model.USER_NAME }, "")
            </div>
            <div>
                @Html.ActionLink("Friend List", "Friends", "Profile")
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
    @{Html.RenderAction("GetPost", "Post");}
</div>
<div class="col-sm-2">
</div>

@section scripts{
    <script>
        var addCommentUrl = '@Url.Action("CommentPost", "Post")';
        var likePostUrl = '@Url.Action("LikePost", "Post")';
        var unlikePostUrl = '@Url.Action("UnlikePost", "Post")';

        $(document).ready(function () {
            $('#addComment').on('click', function () {
               AddComment();
            });

            $('#unlikePost').on('click', function () {
                UnlikePost();
            });

            $('#likePost').on('click', function () {
                LikePost();
            });
        });

        function AddComment(){
            var data = {
                currentPost: $('#postID').val(),
                commentContent: $('#commentContent').val()
            }
            if ($.trim(data.commentContent) == "") {
                $('#errorComment').text('Please add something to your comment');
            } else if ($.trim(data.commentContent).length > 1000) {
                $('#addComment_'.concat(user)).val('')
                $('#errorComment').text('Comment can only have 1000 characters.');
            } else {
                $.ajax({
                    url: addCommentUrl,
                    data: data,
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert("Something went wrong");
                    }
                });
            }
        }

        function LikePost() {
            var data = {
                currentPost: $('#postID').val()
            }
            $.ajax({
                url: likePostUrl,
                data: data,
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    alert("Something went wrong");
                }
            });
        }

        function UnlikePost() {
            var data = {
                currentPost: $('#postID').val()
            }
            $.ajax({
                url: unlikePostUrl,
                data: data,
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    alert("Something went wrong");
                }
            });
        }

    </script>
}





