@model IEnumerable<FINAL_CASESTUDY.Models.Post>

@foreach (var item in Model)
{
    <div class="well">
        @{
            var userID = item.ID;
            var likeModalID = item.ID + "Modal";
        }

        <div class="container-fluid">
            @Html.ActionLink(item.FirstName + " " + item.LastName, "UserProfile", "PasteBook", new { username = item.Username })<br />
            <p id="postDate">@item.DateCreated</p>
            <p id="postContent">@item.Content</p>
            <hr />
            <button class="btn btnLikeCount" id="@userID" data-toggle="modal" data-target="#@likeModalID">@item.LikeCount <span class="glyphicon glyphicon-thumbs-up"></span></button>
            @*<button class="btn btnComments" id="@userID">@likes <span class="glyphicon glyphicon-comment"></span></button>*@
            <button class="btn btnLike" id="@userID">Like</button>
            <hr />
            <textarea class="form-control" id="addComment" rows="3" placeholder="Write a comment..."></textarea>
            <hr />
            <input type="button" id="commentBtn" value="Add comment" class="btn btn-primary pull-right" />

            <div class="modal fade" id="@likeModalID" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">People who liked this post.</h4>
                        </div>
                        <div class="modal-body">
                            <div id="modalLikeContainer">
                                @{Html.RenderAction("GetLikers", "PasteBook", new { currentPost = userID });}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        @*source w3schools*@

    </div>
}
