@model PasteBookEntity.USER

<div class="col-sm-7"></div>
<div class="col-sm-5">
    <h2>Sign Up</h2>
    <h6>It's free and always will be.</h6>
    @using (Html.BeginForm("ValidateRegister", "PasteBook", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class="form-control", placeholder="Username" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email address" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Confirm password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Birthday", new { @class = "control-label" })
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { type = "date", @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>        
        <div class="form-group">
            @Html.Label("Country", new { @class = "control-label" })
            @Html.DropDownListFor(x => x.CountryID, Session["CountryList"] as SelectList, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Mobile number", new { @class = "control-label" })            
            @Html.EditorFor(x => x.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="radio-inline">@Html.RadioButton("Gender", "F") Female </label> 
            <label class="radio-inline">@Html.RadioButton("Gender", "M") Male</label> 
        </div>
        <input type="submit" value="Create Account" class="btn btn-success input-lg" />
    }
</div>

@section scripts{
    <script>

    </script>
    }