@model FINAL_CASESTUDY.Models.User

@{ 
    var user = Model.Username;
}

<div class="col-sm-4">
    <div class="container-fluid">
        <div id="imageProfileContainer">
            <img src="~/Content/samplePicture/facebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
        </div>
    </div>
    <div id="infoContainer">
        <div class="well">
            <div class="container-fluid">
                <h4>Profile Information</h4>
                <input type="hidden" name="username" id="userName" value="@Model.UserID" />
                <p>Email: @Model.Email</p>
                <p>Birthday: @Html.DisplayFor(x=>x.Birthday)</p>
                <p>Country: @Model.CountryID</p>
                <p>Mobile: @Model.MobileNumber</p>
                <p>About me: @Model.AboutMe</p>
            </div>
        </div>
    </div>
    
</div>
<div class="col-sm-8">
    <div class="container-fluid">
        <div class="row">
            <div class="well">
                <div class="container-fluid">
                    <p id="profileName">@Model.FirstName @Model.LastName</p>
                    @Html.ActionLink("Fiends", "Friends", "PasteBook", new { id = "userFriend" })
                    <input type="button" id="addAsFriend" class="btn btn-default pull-right" value="Add as friend" />
                    <input type="button" id="requestAdd" class="btn btn-default pull-right" value="Friend request sent" />     
                </div>
                     
            </div>
        </div>
        <div class="row">
            <div class="well">
                <div class="container-fluid">
                    <p class="text-danger" id="errorPost">Please add something to your post.</p>
                    <textarea class="form-control" id="postContent" rows="3" placeholder="What's on your mind?"></textarea>
                    <hr />
                    <input type="button" id="postBtn" value="Post" class="btn btn-primary pull-right" />
                </div>
            </div>
            
            <div id="postContainer">
                @{Html.RenderAction("GetPostOnProfile", "PasteBook", new { username = user });}
            </div>
        </div>
    </div>        
</div>

@section scripts{
    <script>
        var addPostUrl = '@Url.Action("AddPost", "PasteBook")';
        var getPostUrl = '@Url.Action("GetPostOnProfile","PasteBook",new { username = user })';
    </script>
    <script src="~/Scripts/PasteBookJS/Profile.js"></script>
}