@model PasteBookEntity.USER

<div class="col-sm-2">
    <div class="container">
        
        @{if (Model.PROFILE_PIC == null)
            {
                <div id="imageContainer">
                    <img src="~/Content/samplePicture/pastebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
                </div>
            }
            else
            {
                //source: http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model
                var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <div id="imageContainer">
                    <img src="@imgSrc" class="img-responsive" id="homeProfilePic" />
                </div>
            }
        }

        

        <div class="container-fluid">
            <div id="nameContainer">
                @Html.ActionLink(Model.FIRST_NAME + " " + Model.LAST_NAME, "UserProfile", "Profile", new { username = Model.USER_NAME }, "")
            </div>
            <div>
                @Html.ActionLink("Friend List", "Friends", "Profile")
            </div>            
        </div>
    </div>
</div>
<div class="col-sm-8">
    
    <div class="well">
        <div class="container-fluid">
            <p class="text-danger" id="errorPost"></p>
            <textarea class="form-control" id="postContent" rows="3" placeholder="What's on your mind?"></textarea>
            <hr />
            @{
                string page = ViewData["page"].ToString();
                if (page == "home")
                {
                    <input type="button" id="postBtnHome" value="Post" class="btn btn-primary pull-right" />
                }
            } 
        </div>
    </div>
    <div id="postContainer">
        @{Html.RenderAction("GetPostOnHome", "Home");}
    </div>
</div>
<div class="col-sm-2">
</div>
@section scripts{
    <script>
        var addPostUrl = '@Url.Action("AddPost", "Post")';
        var getPostUrl = '@Url.Action("GetPostOnHome", "Home")';
        var addCommentUrl = '@Url.Action("CommentPost", "Post")';

        var likePostUrl = '@Url.Action("LikePost", "Post")';
        var unlikePostUrl = '@Url.Action("UnlikePost", "Post")';
    </script>
    <script src="~/Scripts/PasteBookJS/Home.js"></script>
}
