@model PasteBookEntity.USER
<div class="form-horizontal">
    <h4>Change Password <span class="glyphicon glyphicon-pencil"></span></h4>
    <hr />
    @using (Html.BeginForm("UpdateNewPassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
    {

        <div class="form-group">
            <label class="control-label col-sm-4">Old password</label>
            <div class="col-sm-8">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control input-sm" />
                @Html.ValidationMessage("errorPassword", new { @class = "text-danger", id = "invalidPassword" })
            </div>
        </div>

        Model.PASSWORD = "";
        <div class="form-group">
            <label class="control-label col-sm-4">New password</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control input-sm", id = "newPassword" })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Retype new password</label>
            <div class="col-sm-8">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control input-sm" />
                @Html.ValidationMessage("errorConfirm", new { @class = "text-danger", id = "errorConfirm" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"></label>
            <div class="col-sm-8">
                <input type="button" id="changePassword" value="Save" class="btn btn-primary" />
            </div>
        </div>

        bool success = (bool)ViewData["success"];
        if (success == true)
        {
            <div class="col-sm-2"></div>
            <div class="alert alert-success col-sm-8" id="successChangePass">
                <strong>Success!</strong> Your password is updated.
            </div>
            <div class="col-sm-2"></div>
        }


    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>


        $(document).ready(function () {
            $('#changePassword').on('click', function () {
                CheckConfirmPassword()
            });
        });

        function CheckConfirmPassword() {
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            if (newPassword != confirmPassword) {
                $('#successChangePass').hide();
                $('#errorConfirm').text('Password does not match to confirm password')
                $('#errorConfirm').css('display', 'inline');
            } else {
                $('#errorConfirm').css('display', 'none');
                $('#changePasswordForm').submit();
            }
        }
    </script>
}




