<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (Session["currentUser"]==null)
        {
            @Html.Partial("_LogoutPartial")
        }
        else
        { 
            @Html.Partial("_LoginPartial")
        }
    </div>
    <div class="container body-content">
        <div id="renderedPart">
            @RenderBody()
        </div>
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

 
<script>
    var validateLoginUrl = '@Url.Action("ValidateLogin", "Account")';
    var confirmRequestUrl = '@Url.Action("ConfirmRequest", "Friend")';
    var reloadRequestUrl = '@Url.Action("GetRequestList", "Friend")';
    var searchResultUrl = '@Url.Action("SearchResult", "Friend")'
    var searchUrl = '@Url.Action("Search", "Friend")'

    $(document).ready(function () {
        //var id = $('#requestID').val();
        //$('#searchFriend').on('click', function () {
        //    SearchFor();
        //});

        //function SearchFor() {
        //    var data = {
        //        search: $('#txtSearch').val()
        //    }
        //    alert(data.search);
        //    $.ajax({
        //        url: searchResultUrl,
        //        data: data,
        //        type: 'GET',
        //        success: function (data) {
        //            SearchResult(data);
        //        },
        //        error: function () {
        //            alert("Oops");
        //        }
        //    });
        //}

        //function SearchResult(data) {
        //    $('#renderedPart').load(searchUrl, { result: data.result });
        //}

        $('#btnLogin').on('click', function () {
            var data = {
                email: $('#username').val(),
                password: $('#password').val()
            }
            $.ajax({
                url: validateLoginUrl,
                data: data,
                type: 'GET',
                success: function (data) {
                    if (data.login == false) {
                        $('#errorLogin').css('display', 'block');
                    } else {
                        location.reload();
                    }
                },
                error: function () {
                    alert();
                }
            });
        });

        $(document).on('click', '.btn-confirm', function () {
            var data = {
                currentProfileID: this.id
            }
            ConfirmRequest(data);


        });

        function ConfirmRequest(data) {
            $.ajax({
                url: confirmRequestUrl,
                data: data,
                type: 'POST',
                success: function (data) {
                    $('#requestContainer').load(reloadRequestUrl);
                },
                error: function () {
                    alert("Oops");
                }

            })
        }


    });
</script>
