<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@*@ViewBag.Title*@ PasteBook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (Session["currentUser"]==null)
        {
            @Html.Partial("_LogoutPartial")
        }
        else
        { 
            @Html.Partial("_LoginPartial")
        }
    </div>
    <div class="container body-content">
        <div id="renderedPart">
            @RenderBody()
        </div>
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

 
<script>
    var validateLoginUrl = '@Url.Action("ValidateLogin", "Account")';
    var confirmRequestUrl = '@Url.Action("ConfirmRequest", "Friend")';
    var reloadRequestUrl = '@Url.Action("GetRequestList", "Friend")';
    var searchResultUrl = '@Url.Action("SearchResult", "Friend")';
    var deleteRequestUrl = '@Url.Action("DeleteRequest", "Friend")';
    var searchUrl = '@Url.Action("Search", "Friend")';
    var homeUrl = '@Url.Action("Home","Home")';

    $(document).ready(function () {

        $('#btnLogin').on('click', function () {
            var data = {
                email: $('#userEmail').val(),
                password: $('#password').val()
            }
            if ($('#userEmail').val() == '' || $('#password').val() == '') {
                $('#errorLogin').text('Email and password field are required.');
            } else {
                $.ajax({
                    url: validateLoginUrl,
                    data: data,
                    success: function (data) {
                        if (data.login == false) {
                            $('#errorLogin').text('Invalid email or password.');
                        } else {
                            window.location.href = homeUrl;
                        }
                    },
                    error: function () {
                        alert();
                    }
                });
            }

        });
        
        $(document).on('click', '.btn-delete', function () {
            alert("delete");
            var data = {
                currentProfileID: this.id
            }
            RejectRequest(data);
        });

        $(document).on('click', '.btn-confirm', function () {
            var data = {
                currentProfileID: this.id
            }
            ConfirmRequest(data);
        });

        function ConfirmRequest(data) {
            $.ajax({
                url: confirmRequestUrl,
                data: data,
                success: function (data) {
                    $('#requestContainer').load(reloadRequestUrl);
                },
                error: function () {
                    alert("Oops");
                }

            })
        }

        function RejectRequest(data) {
            $.ajax({
                url: deleteRequestUrl,
                data: data,
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    alert("Oops");
                }

            })
        }


    });
</script>
