<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@*@ViewBag.Title*@ PasteBook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
       
        @if (Session["currentUser"]==null)
        {
            @Html.Partial("_LogoutPartial")
        }
        else
        {
            @Html.Hidden("currentUserID", (int)Session["currentUser"], new { id = "currentUserID" })
            @Html.Partial("_LoginPartial")
        }
    </div>
    <div class="container body-content">
        <div id="renderedPart">
            @RenderBody()
        </div>
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

 
<script>
    var validateLoginUrl = '@Url.Action("ValidateLogin", "Account")';
    @*var reloadRequestUrl = '@Url.Action("GetRequestList", "Friend")';*@
    var reloadNotificationUrl = '@Url.Action("GetNotification", "Post")';
    var searchResultUrl = '@Url.Action("SearchResult", "Friend")';
    var searchUrl = '@Url.Action("Search", "Friend")';
    var homeUrl = '@Url.Action("Home","Home")';

    var getBadgeCountUrl = '@Url.Action("GetNotificationCount", "Post")'
    var updateNotificationsUrl = '@Url.Action("UpdateNotificatioin","Post")'
    var errorPageUrl = '@Url.Action("GlobalError", "Error")';
</script>
<script src="~/Scripts/PasteBookJS/MainLayout.js"></script>
