<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("PasteBook", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                

                <div id="searchPart">
                    <div class="inner-addon left-addon">
                        <div class="form-inline" id="searchContainer">
                            @using (Html.BeginForm("SearchResult", "Friend", FormMethod.Get))
                            { 
                            <input type="text" name="searchFriend" class="form-control input-sm" id="txtSearch" />
                            <button type="submit" class="btn btn-default btn-sm" id="searchFriend"><span class="glyphicon glyphicon-search"></span> Search</button>
                            }                            
                        </div>
                    </div>
                </div>

            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            
            <li>@Html.ActionLink("Home", "Home", "Home")</li>
            <li>@Html.ActionLink("Profile", "UserProfile", "Profile", new { username = (string)Session["currentUserName"] }, null)</li>
            <li>
                <div id="notificationContainer">
                    @{Html.RenderAction("GetNotification", "Post");}
                </div>                
            </li>
            <li>
                <div id="requestContainer">
                    @{Html.RenderAction("GetRequestList", "Friend");}
                </div>    
            </li>
            <li>
                <div class="dropdown">
                    <button class="icon-bar dropdown-toggle" type="button" id="settingsMenu" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="settingsMenu">
                        <li>@Html.ActionLink("Update Profile", "EditProfile", "Account")</li>
                        <li>@Html.ActionLink("Change Email", "ChangeEmail", "Account")</li>
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
