@model IEnumerable<PasteBookEntity.POST>

    @foreach (var item in Model)
    {
        
        <div class="well">
            @{
                var userID = item.ID;
                var likeModalID = item.ID+"LikeModal";
                var poster = item.USER.ID;
                var postProfileOwner = item.USER1.ID;
                string userProfile = "none";

                if (poster != postProfileOwner)
                {
                    userProfile = item.USER1.FIRST_NAME + " " + item.USER1.LAST_NAME;
                }
                
            }

            @Html.Hidden("itemID", userID, new { id = "itemID" })

            <div class="container-fluid">
                @Html.ActionLink(item.USER.FIRST_NAME+" "+item.USER.LAST_NAME, "UserProfile", "Profile",new { username = item.USER.USER_NAME },"") <span class="glyphicon glyphicon-play" id="userDivider"></span>
                @Html.ActionLink(userProfile, "UserProfile", "Profile", new { username = item.USER1.USER_NAME },new { id = "profileOwner" })
                <p id="postDate">@item.CREATED_DATE</p>
                <p id="postContent">@item.CONTENT</p>
                <hr />
                <button class="btn btnLike" id="@userID">Like</button>
                <button class="btn btnLikeCount" id="@userID" data-toggle="modal" data-target="#@likeModalID">@item.LIKEs.Count <span class="glyphicon glyphicon-thumbs-up"></span></button>     
                       
                <hr />
                @*CommentList*@
                <div id="commentContainer">
                    @{ Html.RenderAction("CommentList", "Post", new { postID = item.ID });}
                </div>

                <textarea class="form-control" id="addComment_@item.ID" rows="2" placeholder="Write a comment..."></textarea>
                <hr />

                <button id="@userID" class="btn btn-primary pull-right btnComment" >Add comment</button>

                @*Like Modal*@
                <div class="modal fade" id="@likeModalID" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">People who liked this post.</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modalLikeContainer">
                                    @{Html.RenderAction("GetLikers", "Post",new { currentPost = userID });}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            
                        </div>

                    </div>
                </div>
               
            </div>
            @*source w3schools*@
            
        </div>
    }