@model IEnumerable<PasteBookEntity.POST>

    @foreach (var item in Model)
    {

        <div class="well">
            @{
                int user = (int)Session["currentUser"];
                var userID = item.ID;
                var likeModalID = item.ID + "LikeModal";
                var poster = item.POSTER_ID;
                var postProfileOwner = item.PROFILE_OWNER_ID;
            }

            @Html.Hidden("itemID", item.ID, new { id = "itemID" })

            <div class="container-fluid">
                <div class="row">
                    <p class="poster-container col-sm-3">              
                        @Html.ActionLink(item.USER.FIRST_NAME + " " + item.USER.LAST_NAME, "UserProfile", "Profile", new { username = item.USER.USER_NAME }, new { htmlAttributes = new { id = "userPostDisplayName" } })
                    </p>
                        @{if (poster != postProfileOwner)
                            {
                                <span class="glyphicon glyphicon-chevron-right col-sm-1" ></span>
                                <p class="poster-container col-sm-4">
                                    @Html.ActionLink(item.USER1.FIRST_NAME + " " + item.USER1.LAST_NAME, "UserProfile", "Profile", new { username = item.USER1.USER_NAME }, "")
                                </p>
                            }
                        }                    
                    <div class="col-sm-4"></div>
                </div>
                
               
                @Html.ActionLink(item.CREATED_DATE.ToString("MMMM dd yyy 'at' h:mm:ss tt"), "Post", "Post", new { postID = item.ID }, new { id = "postDate" })
                <p id="postContent">@item.CONTENT</p>

                
                <hr />
                <div class="container-fluid">
                    @if ((item.LIKEs.Any(x => x.LIKED_BY == user)))
                    {
                        <button class="btn btnUnLike" id="@userID">Unlike</button>

                    }
                    else
                    {
                        <button class="btn btnLike" id="@userID">Like</button>
                    }
                    <button class="btn btnLikeCount" id="@userID" data-toggle="modal" data-target="#@likeModalID">@item.LIKEs.Count <span class="glyphicon glyphicon-thumbs-up"></span></button>
                </div><br />
                
                @*CommentList*@
                <div id="commentContainer">
                    @{ Html.RenderAction("CommentList", "Post", new { postID = item.ID });}
                </div>
                
                <textarea class="form-control" id="addComment_@item.ID" rows="2" placeholder="Write a comment..."></textarea>
                <hr />

                <p class="text-danger" id="invalidComment_@item.ID"></p>
                <button id="@userID" class="btn btn-primary pull-right btnComment" >Add comment</button>

                @*Like Modal*@
                <div class="modal fade" id="@likeModalID" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">People who liked this post.</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modalLikeContainer">
                                    @{Html.RenderAction("GetLikers", "Post",new { currentPost = userID });}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>            
        </div>
    }